### SET:

set is a immutable datastructure

In [1]:
myset = set()

In [2]:
print(myset)
print(type(myset))

set()
<class 'set'>

here set is defined and this is the type of set

In [3]:
myset2 = {"ajay" , 'sham' ,'Hulk' , 'flash'}

In [4]:
myset2

{'Hulk', 'ajay', 'flash', 'sham'}

In [6]:
myset3 = {"ajay" , 'sham' ,'Hulk' , 'flash' ,'flash' , 'flash'}    # total 6 elements
myset3  #printing only 4 unique values only

{'Hulk', 'ajay', 'flash', 'sham'}

In [7]:
myset2.add('rajnikant')
myset2

{'Hulk', 'ajay', 'flash', 'rajnikant', 'sham'}

In [9]:
## Now set difference 
myset1 = {'flash','Superman' , 'Batman'}

myset1.difference(myset2)

{'Batman', 'Superman'}

In [10]:
myset2.difference(myset1)

{'Hulk', 'ajay', 'rajnikant', 'sham'}

In [11]:
#differnce and update

myset1.difference_update(myset2)
print(myset1)

{'Superman', 'Batman'}

In [15]:


# Intersection
myset1 = {'flash','Superman' , 'Batman'}
myset2 = {"ajay" , 'sham' ,'Hulk' , 'flash'}

myset1.intersection(myset2)

{'flash'}

### Dictionary :
unordered changable ,indexed

In [28]:
dic={}

In [29]:
type(dic)

dict

In [30]:
my_dict = {'key1':'superman','key2':'batman','key3':'wornderwoman'}

In [32]:
my_dict

{'key1': 'superman', 'key2': 'batman', 'key3': 'wornderwoman'}

In [33]:
my_dict['key1']

'superman'

In [34]:
for i in my_dict:
    print(i)

key1
key2
key3

In [37]:
for i in my_dict.values():
    print(i)

superman
batman
wornderwoman

In [39]:
for i in my_dict.items():
    print(i)

('key1', 'superman')
('key2', 'batman')
('key3', 'wornderwoman')

In [40]:
#update
my_dict['key4']= 'flash'
my_dict

{'key1': 'superman', 'key2': 'batman', 'key3': 'wornderwoman', 'key4': 'flash'}

#### Nested Dictionary

In [41]:
car1 ={'model':'BMW' , 'speed':'120kmph'}
car2 ={'model':'Marcitees' , 'speed':'100kmph'}
car3 ={'model':'Audi' , 'speed':'120kmph'}
car_dict = {'001':car1 , '002':car2 , '003':car3}
car_dict

{'001': {'model': 'BMW', 'speed': '120kmph'},
 '002': {'model': 'Marcitees', 'speed': '100kmph'},
 '003': {'model': 'Audi', 'speed': '120kmph'}}

#### Tuple:

In [42]:
my_tup = ()
type(my_tup)

tuple

In [43]:
my_tup = ('abc' , 'bca' , 'cde')
my_tup

('abc', 'bca', 'cde')